.video_list-thumbnail{
    /*width: auto;*/
    background-color: #ffffff;
    border: #f7f7f7 solid 1px;
    border-radius: 4px;
    background-repeat: no-repeat;
}

.list-group{
    margin: auto;
    /*margin-bottom: 5px;*/
    min-width: 270px;
}

.list-group-item{
    padding: 5px 5px;
}

.list-group-item:hover{
    background-color: #eeeeee;
}